.u-section-1 {
  min-height: 296px;
}

.u-section-1 .u-image-1 {
  height: 269px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  width: 707px;
  font-size: 2.25rem;
  margin: -135px auto 0;
}

.u-section-1 .u-image-2 {
  width: 108px;
  height: 108px;
  margin: -225px auto 0 35px;
}

.u-section-1 .u-image-3 {
  width: 89px;
  height: 147px;
  object-position: 100% 100%;
  margin: -107px auto 60px calc(((100% - 1140px) / 2) + 78px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: -134px;
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 940px) / 2) + 100px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-2 {
    width: 88px;
    height: 81px;
    margin-left: calc(((100% - 720px) / 2) + -15px);
  }

  .u-section-1 .u-image-3 {
    width: 75px;
    height: 124px;
    margin-top: -81px;
    margin-left: calc(((100% - 720px) / 2) + 82px);
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 330px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: -107px;
    margin-left: calc(((100% - 540px) / 2) + 78px);
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 296px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-2 {
    margin-top: -225px;
    margin-left: calc(((100% - 340px) / 2) + -15px);
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 340px) / 2) + 78px);
  }
}.u-section-2 .u-sheet-1 {
  min-height: 630px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 659px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-2 .u-group-1 {
  background-image: none;
  min-height: 584px;
  margin-top: -7px;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 128px;
  height: 128px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 1.75rem;
  margin: 20px 1px 0;
}

.u-section-2 .u-text-2 {
  margin: 8px 24px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 0 12px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 659px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-group-2 {
  background-image: none;
  min-height: 573px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 128px;
  height: 128px;
  margin: 29px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 18px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 665px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 12px;
  }

  .u-section-2 .u-group-1 {
    min-height: 601px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 665px;
  }

  .u-section-2 .u-group-2 {
    margin-bottom: -13px;
    min-height: 598px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 766px;
    margin-left: -23px;
    margin-right: -23px;
    margin-bottom: 24px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 732px;
  }

  .u-section-2 .u-group-1 {
    min-height: 682px;
    width: 339px;
    margin-left: -8px;
    margin-right: -8px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 8px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 732px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .u-section-2 .u-group-2 {
    min-height: 674px;
    width: 341px;
    margin-left: -9px;
    margin-right: -9px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 989px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 1032px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 707px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-group-1 {
    width: 320px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 650px;
  }

  .u-section-2 .u-group-2 {
    width: 320px;
    margin-left: 0;
    margin-right: 0;
  }
}